.git
.github
.vs
.vscode
build/
build-win/
build-linux/
out/
coverage_report/
vcpkg_installed/
*.exe
*.obj
*.o
*.pdb
*.ilk
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
coverage_build_tail.log
last40.txt
